{{#partial "caption"}}
    {{ caption }}
{{/partial}}

{{#partial "keywords"}}
    {{ keywords }}
{{/partial}}

{{#partial "content"}}
	<div id="content">{{{ body }}}</div>
{{/partial}}

{{> default }}
