{% extends "portals/teatr/default.html" %}
{% load portal_tags %}
{% load typogrify_tags %}
{% block title %}{{page.caption}}{% endblock %}
{% block keywords %}{{page.keywords}}{% endblock %}
  
{% block content %}
	<div id="content">{{ page.body|typogrify|safe }}</div>
{% endblock %}