<table border="0" cellpadding="1" cellspacing="0" id="news_informer">
    {{#each news}}
        <tr>
            <td align="left"><h2 class="se1"><a href="{{ url }}">{{{ title }}}</a></h2>
                <div class="se6">{{{ date }}}</div>
            </td>
        </tr>
    {{/each}}
</table>
