<!--<br><a href="http://teatr.kolomyya.org/kol_presentations/2010/" title = "Другий всеукраїнський театральний фестиваль сценічних першопрочитань КОЛОМИЙСЬКІ ПРЕДСТАВЛЕННЯ"><font size="2">Програма II Всеукраїнського театрального фестивалю сценічних першопрочитань «Коломийські представлення»</font><br><img src="/korg/portals/teatr/logoII.jpg" /></a>-->
<p><br /><span><strong>Вакансії у театрі:</strong></span></p>
<p>- художник з освітлення,</p>
<p>- адміністратор,</p>
<p>- машиніст сцени,</p>
<p>- водій автобуса.</p>
<p>&nbsp;</p>
<p><strong>Адреса театру:</strong> 78203, Івано-Франківська область, місто Коломия, вулиця Вічевий Майдан, 7</p>
<p><strong>Телефони для довідок:</strong> (03433) 47844; 50441.&nbsp;</p>
<p>Колективне бронювання за телефонами: 096 651 03 82, 099 198 57 70</p>
<p><strong>e-mail:</strong> <a href="mailto:kolteatr@gmail.com">kolteatr@gmail.com</a></p>