<!--<br><a href="http://teatr.kolomyya.org/kol_presentations/2010/" title = "Другий всеукраїнський театральний фестиваль сценічних першопрочитань КОЛОМИЙСЬКІ ПРЕДСТАВЛЕННЯ"><font size="2">Програма II Всеукраїнського театрального фестивалю сценічних першопрочитань «Коломийські представлення»</font><br><img src="/korg/portals/teatr/logoII.jpg" /></a>-->
<p><br /><span><strong>Вакансії у театрі:</strong></span></p>
<p><span>- начальник радіо-електро цеху;</span></p>
<p>- звукооператор;</p>
<p>- заступник директора по господарству;</p>
<p><span>- художник з освітлення;</span></p>
<p><span>- водій</span></p>
<p><span>&nbsp;</span></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong>Адреса театру:</strong> 78200, Івано-Франківська область, місто Коломия, вулиця Вічевий Майдан, б.7</p>
<p><strong>Телефони для довідок:</strong> (03433) 47844; 50441</p>
<p><strong>e-mail:</strong> <a href="mailto:kolteatr@gmail.com">kolteatr@gmail.com</a></p>