{% load typogrify_tags %}
<table border="0" cellpadding="1" cellspacing="0">

{% for date, time, url, performance, place in afisha %}
	  <tr><td align = "left">
	 {% ifchanged date %}
	 	<h2 class = "se5">{{date|date:"l, d.m.y"}}</h2>
		<br>
	 {% endifchanged %}
	<div>
		<span class="{{s2}}"><b>{{time}}</b> - <span class="{{s3}}">{{place.city_name|safe|typogrify}} {{place.place_name|safe|typogrify}}.</span> </span>
	 	<span class="{{s2}}">{{performance.author}} <a href = "{{url}}">"{{performance.name}}"</a> <span class="{{s3}}">{{performance.genre}}</span> </span>
	</div>
	<br>
	</td></tr> 
	
{% endfor %}
	


</table>
