{% extends "portals/teatr/default.html" %}
{% load typogrify_tags %}
{% block title %}Театр | Афіша{% endblock %}
{% block keywords %}Театр | Афіша{% endblock %}

{% block content %}
{% if month == "current" %}
<h2 class="header_t"> Афіша на {{curr_date|date:"F Y"}} року </h2>

{% endif %}
{% if month == "next" %}
<h2 class="header_t"> Афіша на {{date_next_month|date:"F Y"}} року </h2>

{% endif %}

<table border = "0" cellpadding = "1" cellspacing = "0">
	
{% for date, time, url, performance, place in afisha %}
	 <tr><td align = "left">
	 {% ifchanged date %}
	 	<h2 class = "se5">{{date|date:"l, d.m.y"}}</h2>
		<br>
	 {% endifchanged %}
	  	<div>
	  		<span class = "se2"><b>{{time}}</b> - <span class = "se3">{{place|safe|typogrify}}.</span> </span>
	 		<span class = "se2">{{performance.author}} <a href = "{{url}}">"{{performance.name}}"</a> <span class = "se3">{{performance.genre}}</span> </span>
	 	</div>
		<br>
	  </tr></td>		
{% endfor %}

</table>

{% if month == "current" %}

			<div style = "align: right"><a href="/afisha/next/" title = "Переглянути афішу на наступний місяць"> Афіша на {{date_next_month|date:"F Y"}} року</a></div>
{% endif %}
{% if month == "next" %}

			<div style = "align: right"><a href="/afisha/current/" title = "Переглянути афішу на попередній місяць"> Афіша на {{curr_date|date:"F Y"}} року</a></div>
{% endif %}
<br>

{% endblock %}
