{% extends "portals/teatr/default.html" %}
{% load portal_tags %}
{% load typogrify_tags %}

{% block title %}{{item.caption}}{% endblock %}
{% block keywords %}{{item.keywords}}{% endblock %}

{% block content %}
  
	<h1 class = "header_t">{{ item.caption|typogrify }}</h1>
	<div class ='currentDate'>{{ item.publish_date | date }}</div>
    {% if images %}
    <center>
            <ul id = "mycarousel" class="jcarousel-skin-tango">
                {% for image_gallery in images %}

                    <li>
                        <a href = "{{ image_gallery.image.url_full|change_file_end }}"  title = "{{ image_gallery.image_title}}">
                            <img src ="{{ image_gallery }}" class="lightbox news_body_bottom" title = "{{ image_gallery.image_title}}" />
                        </a>
                    </li>

                {% endfor %}
            </ul>
    </center>
   {% endif %}
	<div id="content">{{ body|typogrify|safe }}</div>
	{% if item.origin %}
		<div>Джерело: 
		{% if item.origin_url %}<a href="{{ item.origin_url }}">{% endif %}
		{{ item.origin|typogrify }}			
		{% if item.origin_url %}</a>{% endif %}
		</div>			
	{% endif %}
	{% if item.author %}
		<div>Автор: {{ item.author|typogrify }}</div>			
	{% endif %}
<table width="100%" bgcolor="#6278a4">
<tr>
<td style="text-align: center;" width="25%">
<!-- Place this tag where you want the +1 button to render -->
<g:plusone></g:plusone>
<!-- Place this render call where appropriate -->
<script type="text/javascript">
  window.___gcfg = {lang: 'uk'};
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</td>
<td style="text-align: center;" width="25%"><a name="fb_share" type="button" href="//www.facebook.com/sharer.php"></a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script></td>
<td style="text-align: center;" width="25%"><div id="custom-tweet-button"><a href="//twitter.com/share" target="_blank"><img style="border: 0px;" src="/korg/images/tweet.png" alt="Tweet" border="0"/></a></div></td>
<td style="text-align: center;" width="25%"><script type="text/javascript" src="//vkontakte.ru/js/api/share.js?9" charset="windows-1251"></script>
<script type="text/javascript">
<!--
document.write(VK.Share.button());
-->
</script>
</td>
</tr>
</table>
{% endblock %}