{% extends "portals/teatr/default.html" %}
{% load typogrify_tags portal_tags %}
{% block title %}Новини{% endblock %}
{% block keywords %}Театр | Новини{% endblock %}


{% block addheaders %}
	<link rel="stylesheet" type="text/css" href="/korg/css/paginator.css" />
	<script type="text/javascript" src="/korg/js/paginator.js"></script>
{% endblock %}

{% block content %}
	<style>
.se1	{ color: #2E3C9F; font-weight: normal; text-align: justify; font-size: 10px; margin-bottom: 0px; margin-top: 8px; }
.se2	{ color: #000000; font-weight: normal; text-align: justify; font-size: 12pt; }
.se3	{ color: #64605E; font-weight: normal; text-align: justify; font-size: 12pt; }
.se4	{ color: #2E3C9D; font-weight: normal; text-align: justify; font-size: 15px; }
</style>

	<center><table width="80%"><tr><td>
	
	<div id="paginator" class="paginator">{% for page in pages %}<a href="{{ navigate_url }}{{ page }}/">{{ page }}</a>&nbsp;{% endfor %}</div><br><br>
	<script type="text/javascript">new Paginator('paginator', {{ pages_cnt }}, 10, {{ page }}, "{{ navigate_url }}")</script>	
	
	{% for n in news %}

	{% url 'portal-news-item' n.id as url %}
	<a class="font-size: 9pt" href="{{ url }}">{{ n.caption|typogrify }}</a>
	<br>
	
	<div class = "currentDate">{{ n.publish_date | date }}</div >
	
	<div class = "se2">
			<img class= "news_lead" src="{{ n.image_small.url_full }}">
			{{ n.anounce|typogrify }}
	</div><br><br>
	
	
	{% endfor %}

	</td></tr>
	<tr><td>
		<div id="paginator2" class="paginator">{% for year in years %}
			{% if not year.url %}
				<strong>{{ year.year }}&nbsp;рік</strong>
			{% elif year.next %}
				...&nbsp;<a href="{{ year.url }}/">наступні&nbsp;роки</a>&nbsp;
			{% elif year.previous %}
				<a href="{{ year.url }}/">попередні&nbsp;роки</a>&nbsp;...
			{% else %}
				<a href="{{ year.url }}/">{{ year.year }}&nbsp;рік</a>&nbsp;
			{% endif %}
			{% if not forloop.last %} :: {% endif %}
			{% endfor %}</div><br><br>
	</td></tr>
	</table></center>
	
{% endblock %}