{% extends "portals/teatr/default.html" %}
{% load portal_tags %}
{% load typogrify_tags %}

{% block title %}Репертуар{% endblock %}
{% block keywords %}Репертуар{% endblock %}

{% block content %}
	<table style="width: 100%">
	{% for row in afisha %}
		<tr>
		{% for p in row %}
			<td style="width: 50%">
			{% if p %}

		<p style = "text-align: justify;">
    	{% if p.image %}
    	 
    	 <a href="{{ p.url }}">
			
				<img class="bordered" style="float:left; margin-right:10px"
					 src="{{ p.image.image.url_full }}" title = "{{ p.image.image_title }}:"><br><h1 class="header_left"> {{ p.performance.name|typogrify }} </h1>
		</a>
				
		{% else %}
					
    		<a href="{{ p.url }}"><br><h1 class="header_left"> {{ p.performance.name|typogrify }} </h1></a>
			
		{% endif %}

		{% endif %}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</table>
{% endblock %}
